			.nav{                
                background-color: black;
                overflow: hidden; 
                
            }
            
            .nav a{
                text-decoration: none;
                float: left;
                color: white;
                text-align: center;
                padding: 10px 10px;
                display: block;
            }

            .nav a:hover{
                background-color:gainsboro;
                color: black;
            }
			
			.head{
                background-color:#add8e6;
				opacity:0.9;
                display: block;
				padding-left:30px;
				padding-right:30px;
				margin-bottom:0px;
				padding-bottom:10px;
            }
			
			h1{
				font-size:50px;
				font-weight:bold;
				text-align:center;
			}
			
			p{
				font-size:20px;
				font-family:verdana;
			}
			
			.footer{
                background-color: black;
                display: block;
                color: white;
                text-align: center;
                font-size: 15px;
				
            }
			
			a{
				text-decoration:none;
				color:red;
			}
			
			a:hover{
				
				color:red;
			}
			
			img{
				border-radius:10px;
			}
			
			table,td,tr{
				background-color:lightblue;
				padding-left:10px;
				padding-right:10px;
			}
			
			border{
				background-color:blue;
			}
			
			.ozgecmis_resim{
				width:40px;
				height:40px;
				
			}
			
			.ozgecmis_sol_metin{
				padding-left:47px;
				font-size:17px;
			}
			
			.ozgecmis_buyuk_resim{
				width:200px;
				height:200px;
				border-radius:100px;
				margin-left:70px;
				margin-bottom:10px;
				margin-top:10px;
			}
			
			.ozgecmis_list{
				list-style-type:square;
			}
			
			.ozgecmis_sag_buyuk_baslik{
				text-align:left;
				margin-top:50px;
			}
			
			.ozgecmis_sag_orta_baslik{
				margin-top:10px;
			}
			
			.ozgecmis_sag_metin{
				font-size:16px;
				color:#6fbbd3;
			}
			
			.mySlides {display:none;}
			
			.tablo_p{
				font-size:18px;
			}
			
			@media only screen and (max-width: 800px){
				.tablo{
				display:none;
				}
			}
			
			.sehrim_tablo_resim{
				margin-top:10px;
			}
			
			.sehrim_tablo_resim_yazi{
				padding-top:10px;
			}
			
			.sehrim_tablo_ilce{
				text-decoration:underline;
			}
			
			.sehrim_icerik_arkaplanrengi{
				background-color:#ffd045;
			}
			
			.sehrim_slider{
				margin-bottom:50px;
			}
			
			.sehrim_slider_resim{
				width:100%;
				height:400px;
			}
			
			.takimimiz_icerik_arkaplanrengi{
				background-color:#daff6b;
			}
			
			.takimimiz_slider{
				margin-top:50px;
				margin-bottom:50px;
			}
			
			.iletisim_ad_eposta{
				margin-left:30%;
				width:200px;
				height:25px;
			}
			
			.iletisim_konu{
				margin-left:30%;
				width:200px;
				height:25px;
			}
			
			.iletisim_cinsiyet{
				margin-left:30%;
			}
			
			.iletisim_mesaj{
				margin-left:30%;
				width:250px;
				height:300px;
				max-width:400px;
				max-height:300px;
				min-height:300px;
				min-width:250px;
			}
			
			.iletisim_gerekli{
				color:red;
			}
			
			.iletisim_buton{
				margin-left:35%;
				margin-bottom:10px;
				margin-right:50px;
			}
			
			.iletisim_buton2{
				margin-bottom:10px;
			}
			
			.giris_container{
				margin-top:10%;
				padding-left:15%;
				padding-right:15%;
			}
			
			.giris_row{
				background-color:lightblue;
			}
			
			.giris_col{
				margin-left:35%;
			}
			
			.giris_form{
				padding-top:10%;
				padding-bottom:10%;
			}
			
			.giris_form_baslik{
				font-size:30px;
			}
			
			.giris_buton{
				margin-left:8%;
			}