			.nav{                
                background-color: black;
                overflow: hidden; 
                
            }
            
            .nav a{
                text-decoration: none;
                float: left;
                color: white;
                text-align: center;
                padding: 10px 10px;
                display: block;
            }

            .nav a:hover{
                background-color:gainsboro;
                color: black;
            }
			
			.head{
                background-color:#add8e6;
				opacity:0.9;
                display: block;
				padding-left:30px;
				padding-right:30px;
				margin-bottom:0px;
				padding-bottom:10px;
            }
			
			h1{
				font-size:50px;
				font-weight:bold;
				text-align:center;
			}
			
			p{
				font-size:20px;
				font-family:verdana;
			}
			
			.footer{
                background-color: black;
                display: block;
                color: white;
                text-align: center;
                font-size: 15px;
				
            }
			
			a{
				text-decoration:none;
				color:red;
			}
			
			a:hover{
				
				color:red;
			}
			
			img{
				border-radius:10px;
			}
			
			table,td,tr{
				background-color:lightblue;
				padding-left:10px;
				padding-right:10px;
			}
			
			border{
				background-color:blue;
			}
			
			.ozgecmis_resim{
				width:40px;
				height:40px;
				
			}
			
			.ozgecmis_sol_metin{
				padding-left:47px;
				font-size:17px;
			}
			
			.ozgecmis_buyuk_resim{
				width:200px;
				height:200px;
				border-radius:100px;
				margin-left:70px;
				margin-bottom:10px;
				margin-top:10px;
			}
			
			.ozgecmis_list{
				list-style-type:square;
			}
			
			.ozgecmis_sag_buyuk_baslik{
				text-align:left;
				margin-top:50px;
			}
			
			.ozgecmis_sag_orta_baslik{
				margin-top:10px;
			}
			
			.ozgecmis_sag_metin{
				font-size:16px;
				color:#6fbbd3;
			}
			
			.mySlides {display:none;}